.main {
  &__weather {
    display: block;
    max-width: 27em;
    
    h1 {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 1em;
    }
    p {
      font-size: 6em;
      span {
        font-size: 40px;
      }
    }
  }
}